[Unit]
Description=Auto capture pictures every 30 seconds using picamera2
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /home/ken/WillPower/raspi_service/take_photo.py
Restart=always

[Install]
WantedBy=multi-user.target