[Unit]
Description=Raspberry Pi Camera HTTP Service
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /home/ken/WillPower/raspi_service/main.py
Restart=always

[Install]
WantedBy=multi-user.target